<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="index.css" />
  <title><%= title %></title>
  <script src='/script_ajax.js' type="text/javascript"></script>
</head>