<nav id="gyors_eleres">
  <a href="/"><button class="macstyle">Fooldal</button> </a>
  <% if(locals.jwtToken) { %>
  <a href="/uj_foglalas"><button class="macstyle">UJ Foglalas</button> </a>
  <a href="/sajat_foglalasok"><button class="macstyle">Foglalasok</button> </a>
  <a id="logout" href="/logout"><button class="macstyle">LOGOUT</button> </a>
  <% } else { %>
  <a id="login" href="/loginoldal"><button class="macstyle">LOGIN \ REGISTRATION</button> </a>
  <% } %>
  </nav>