<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" media="screen" href="/index.css" />
        <title>Reszletek_Kepfeltoltes</title>
        <script src='/script_ajax.js' type="text/javascript"></script>
    </head>
    
    <body onload="szabadAsztalok();">
        
        <%- include('partials/navbar.ejs') %>


        <% if(vendeglok.length) { %>

            <form name="Foglalas" action="/form_foglalas" method="POST">
                <p>Foglaljon egy asztalt</p>
                
                <label><%= felhasznalo.name %> foglaljon egy asztalt!</label>
                <input type="number" id="felhasznalo_n" name="felhasznalo_n" value= "<%= felhasznalo.id %>" hidden>
                <br>
                <label>A vendeglo</label>
                <select class="macstyle" name="vendeg" onchange="szabadAsztalok();" id="vendeg">
                    <% vendeglok.forEach((vend) => { %>
                        <option class="macstyle" value="<%= vend.VID %>"> <%= vend.VNev %> </option>
                    <% }) %>
                </select>
                <br>
                <label>Idopont</label>
                <input class="macstyle" type="number" id="form_kliens_idopont" name="form_kliens_idopont" placeholder=" 14"  onchange="szabadAsztalok();" min="1" max="24" required>
                <br>

                <div class="aszoveg" id="szoveg"></div>
                
                <label class="form-control">1
                    <input id="radio1" type="radio" name="rad" value="1" required/>
                </label>

                <% for(let i = 2; i < 10; i++) { %>
                    
                    <label class="form-control"><%=i%>
                        <input id="radio<%=i%>" type="radio" name="rad" value="<%=i%>"/>
                    </label>
                    
                    <% if (i % 3 == 0) {%>
                        <br>
                    <% } %>
                <% } %>
                <br>
                <input class="macstyle" type="submit" id="submitgomb">
                <br>
                <div>---</div>

            </form>
            <% } else { %>
                <div>SOMETHINGS WRONG</div>
            <% } %>
        
        <footer><div id="f_footer"></div></footer>

    </body>