<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" media="screen" href="/index.css" />
        <title>Reszletek_Kepfeltoltes</title>
        <script src='/script_ajax.js' type="text/javascript"></script>
    </head>
    
    <body>
        <%- include('partials/navbar.ejs') %>
        <br>
        
        <form action="/keres_foglalas" method="POST">
          <input class="macstyle" type="text" name="keres_name" id="keres_name" placeholder="Vendeglo neve">
          <select class="macstyle" name="keres_status" id="keres_status">
                <option  disabled selected value>-- select an option --</option>
                <option value="accepted"> accepted </option>
                <option value="rejected"> rejected </option>
                <option value="pending"> pending </option>
        </select>
          <input class="macstyle" type="number" name="keres_idopont" id="keres_idopont" placeholder="Idopont">
          <input class="macstyle" type="submit" name="keress" id="keress" value="Search"><br>
        </form>

        
        <div id="alert_fo" class="alert" hidden>
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <div id="alertt">This is an alert box.</div>
        </div>

        <% if(locals.jwtToken) { %>
          <% if(locals.role == 'admin') { %>
            <div id="cim">Az osszes foglalas:</div>
          <% } else { %>
            <div id="cim"><%= locals.name %> osszes foglalasa:</div>
          <% } %>
        <% } %>


          <% if(foglalasok.length) { %>
            <div id="tablediv">
                <table class="list-container" align="center">
                    <tr id="tr">
                        <th>Vendeglo</th>
                        <th>Nev</th>
                        <th>Ora</th>
                        <th>Asztal</th>
                        <th>Status</th>
                    </tr>
                    <% foglalasok.forEach((fogl) => { %>
                        <tr id="tr/<%= fogl.FoglalasId %>">

                            <td><%= fogl.VNev %></td>
                            <td><%= fogl.Nev %></td>
                            <td><%= fogl.Ora %></td>
                            <td><%= fogl.AID %></td>
                            <td id="td/status/<%= fogl.FoglalasId %>"><%= fogl.status %></td>
                            <% if (locals.role == 'admin') { %>
                                <td> <button class="macstyle" onclick="acceptFoglalas(`<%= fogl.FoglalasId %>`)">Accept</button></td>
                                <td> <button class="macstyle" onclick="rejectFoglalas(`<%= fogl.FoglalasId %>`)">Reject</button></td>
                            <% } %>
                            <td> ~ <button class="macstyle" onclick="deleteFoglalas(`<%= fogl.FoglalasId %>`)">Delete</button></td>
                          </tr>
                    <% }) %>
                </table>
            </div>
        <% } else { %>
            <div id = "else_ag">Nincsenek foglalasok!</div>
        <% } %>
        <br>

    </body>
