<!DOCTYPE html>
<html lang="hu">
    
    <%- include('partials/head.ejs', { title: 'Vendeglok' }) %>

    <body>

        <h2>Vendeglok</h2>

        <%- include('partials/navbar.ejs') %>

        <br>

        <form action="/keres" method="POST">
            <input class="macstyle" type="text" name="keres_name" id="keres_name" placeholder=" Vendeglo neve">
            <input class="macstyle" type="text" name="keres_helyseg" id="keres_helyseg" placeholder=" Helyseg">
            <input class="macstyle" type="number" name="keres_nyitas" id="keres_nyitas" placeholder=" Nyitas">
            <input class="macstyle" type="number" name="keres_zaras" id="keres_zaras" placeholder=" Zaras">
            <input class="macstyle" type="submit" name="keress" id="keress" value="Search"><br>
        </form>

        <!-- A Vendeglok -->
        <% if(vendeglok.length) {%>

            <div class="list-container">
                <% vendeglok.forEach((vend) => { %>
                    <div class="list-item" id = "list" onclick="getMoreInfoVendeglo(`<%= vend.VID %>`)">
                        <br>
                        <div class="list-item-name" onclick="getMoreInfoVendeglo(`<%= vend.VID %>`)"> <%= vend.VNev %> </div>
                        <div class="list-item-hours"> <%= vend.Nyitas %> - <%= vend.Zaras %></div>
                        <div class="getMoreInfoVendeglo" id="getMoreInfoVendeglo/<%= vend.VID %>"></div>
                        <br>
                    </div>                        
                    <nav id="reszletek"> 
                        <a href=/vendeglo/<%= vend.VID %>> 
                            <button class="macstyle"> Tovabbi reszletek</button>
                        </a>
                    </nav>
                <% }) %>
            </div>

        <% } else { %>
            <div>NICSENEK VENDEGLOK</div>
        <% } %>

        <!-- <iframe src="https://drive.google.com/file/d/1udxBxghNo6jdhXurMp6j1olXmbU-uCJk/preview" width="640" height="480" allow="autoplay"></iframe> -->


        <% if(locals.jwtToken) {%>
            <% if(locals.role == 'admin') {%>

        <form action="/vendegloBeszuras" method="POST">
            <p>Vezessen be egy vendeglot</p>

            <label>Vendeglo neve</label><br>
            <input type="text" name="form_name" id="form_name" pattern="[A-Z][a-z]*" placeholder="Kolozsvar" required><br><br>
            
            <label>Varos</label><br>
            <input type="text" name="form_varos" id="form_varos" pattern="[A-Z][a-z]*" placeholder="Kolozsvar" required><br><br>

            <label>Utca</label><br>
            <input type="text" name="form_utca" id="form_utca" pattern="[A-Z][a-z]*" placeholder="Farkas" required><br><br>

            <label>Szam</label><br>
            <input type="number" name="form_szam" id="form_szam" placeholder="1" required><br><br>

            <label>Telefonszam</label><br>
            <input type="tel" name="form_telefon" id="form_telefon" pattern="[0-9]{10}" placeholder="0xxxxxxxxx" required><br><br>

            <label>Nyitvatartas</label><br>

            <input type="number" name="form_nyitas" id="form_nyitas" placeholder="9" required>            
            <label> - </label>
            <input type="number" name="form_zaras" id="form_zaras" placeholder="22" required><br><br>

            <input type="submit" name="form_submit1" id="form_submit1" value="SUBMIT"><br><br><br>
        </form>
            
            <% } %>
        <% } %>

        <footer><div id="f_footer"></div></footer>
    </body>