<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" media="screen" href="/index.css" />
        <title>Reszletek_Kepfeltoltes</title>
        <script src='/script_ajax.js' type="text/javascript"></script>
    </head>
    
    <body>
        <%- include('partials/navbar.ejs') %>


        <div id="cim">A Vendeglo informacioi:</div>

        <div class="list-container">
            <div class="list-item" id = "list">
                <div class="list-item-id"> ID:  <%= id %></div>
                <div class="list-item-name"> Nev:  <%= vendeglok.VNev %></div>
                <div class="list-item-town"> Varos:  <%= vendeglok.Varos %></div>
                <div class="list-item-street"> Utca:  <%= vendeglok.Utca %></div>
                <div class="list-item-number"> Hazszam:  <%= vendeglok.Szam %></div>
                <div class="list-item-tel"> Telefonszam:  <%= vendeglok.Telefon %></div>
                <div class="list-item-hours"> Nyitvatartas:  <%= vendeglok.Nyitas %> - <%= vendeglok.Zaras %></div>
            </div>
        </div>
        <br>

        <div id="cim">A Vendeglohoz tartozo foglalasok:</div>
        <% if(foglalasok.length) {%>
            <div id="tablediv">
                <table class="list-container" align="center">
                    <tr id="tr">
                        <th>Nev</th>
                        <th>Ora</th>
                    </tr>
                    <% foglalasok.forEach((fogl) => { %>
                        <tr id="tr/<%= fogl.FoglalasId %>">
                            <!-- <td><%= user %></td> -->
                            <td><%= fogl.Nev %></td>
                            <td><%= fogl.Ora %></td>
                            <% if (fogl.FID == user) { %>
                                <td> ~ <button class="macstyle" onclick="deleteFoglalas(`<%= fogl.FoglalasId %>`)">Delete</button></td>
                            <% } else if (user == 5) { %>
                                <td> ~ <button class="macstyle" onclick="deleteFoglalas(`<%= fogl.FoglalasId %>`)">Delete</button></td>
                            <% } %>
                        </tr>
                    <% }) %>
                </table>
            </div>
        <% } else { %>
            <div id = "else_ag">Nincsenek meg foglalasok a jelenlegi etteremnel</div>
        <% } %>
        <br>

        <div id="cim">A Vendeglohoz tartozo kepek:</div>

        <% if(kepek.length) {%>
            <%kepek.forEach((k) => { %>
                <img id="kepek" src="/uploadDir/<%= k.Kpath %>" alt="<%= k.Kname %>"> 
            <%}) %>
        <% } else { %>
            <div id = "else_ag">Nincsenek meg kepek feltoltve a jelenlegi etteremhez</div>
        <% } %>
        
        <br>

        <% if(locals.jwtToken) {%>
            <% if(locals.role == 'admin') {%>

        <div id="cim">Tegyen fel kepeket a vendeglohoz</div>

        <form name="Kepek feltoltese" enctype="multipart/form-data" action="/form_kepek" method="POST">
            <br>
            <input type="number" id="form_kep_id" name="form_kep_id" value=<%= id%>>
            <label>Kep feltoltese</label>
            <input type="file" id="kliens_file" name="kliens_file" required><br><br>
            <input class="macstyle" type="submit" id="form_submit2" value="SUBMIT"><br><br><br>
        </form>
        <script>
            document.getElementById("form_kep_id").style.display = "none";
        </script>
        <footer><div id="f_footer"></div></footer>

            <% } %>
        <% } %>

    </body>
