<!DOCTYPE html>
<html lang="hu">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" media="screen" href="index.css" />
        <title>LOGIN PAGE</title>
        <script src='/script_ajax.js' type="text/javascript"></script>
    </head>
    
        <%- include('partials/navbar.ejs') %>

        <form name="Login" action="/form_login" method="POST">
            <p>Jelentkezz be az oldalra az alabbi adatok kitoltesevel</p>
            <div>LOGIN</div>

            <br>
            <label>Felhasznalonev</label>
            <input type="text" id="username" name="username" placeholder="username" required><br><br>

            <label>Password</label>
            <input type="password" id="password" name="password" placeholder="password" required><br>
            <input type="checkbox" onclick="showPassword('password')">Show Password
            <br><br>

            <input class="macstyle" type="submit" id="form_submit_login" value="SUBMIT"><br><br><br>
        </form>



        <div id="alert_fo" class="alert" hidden>
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <div id="alertt">This is an alert box.</div>
        </div>



        <form name="Registrate" action="/form_registration" method="POST">
            <p>Regisztralj az oldalra az alabbi adatok kitoltesevel</p>
            <div>REGISTRATION</div>

            <br>
            <label>Felhasznalonev</label>
            <input type="text" id="username_registration" name="username_registration" placeholder="username" required><br><br>
            <label>Password</label>
            <input type="password" id="password_registration" name="password_registration" placeholder="password" required><br>
            <input type="checkbox" onclick="showPassword('password_registration')">Show Password
            <br><br>

            <input class="macstyle" type="submit" id="form_submit_registration" value="SUBMIT"><br><br><br>
        </form>
        
        <footer><div id="f_footer"></div></footer>

    </body>