body { 
  background-image: url("https://blog.cloudflare.com/content/images/2019/12/gradient.jpg");
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  text-align: center;
}

#cim{
  border-radius: 19px;
  margin: 10px;
  font-size: 22px;
  text-align: center;
  background-color: rgb(252, 165, 93);
}

#tablediv, form, #valasz_div, #list, #else_ag{
  border: 1px solid rgb(0, 0, 0);
  border-radius: 19px;
  margin: 10px;
  font-size: 17px;
  text-align: center;
  background-color: rgb(252, 165, 93);
}

table{
  align-self: center;
  text-align: center;
}

p{
  color: rgb(58, 0, 109);
}

#reszletek{
  text-align: right;
  margin: 10px;
  font-size: 17px;
}

#kepek{
  width: 60%;
  padding: 1rem 1rem 1rem;
  background: linear-gradient(to top, hsla(44, 17%, 47%, 0.467),rgba(247, 190, 33, 0.33));
}

#login{
  align-self: flex-end;
  color: aqua;
}

.macstyle {
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  font-size: smaller;
  border-radius: 6px;
  color: #3D3D3D;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

#b1,#b2,#b3,#b4,#b5,#b6,#b7,#b8,#b9{
  /* align-self: center; */
  width: 100px; height: 60px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
  color: rgb(52, 197, 52)
}

/* The alert message box */
.alert {
  padding: 20px;
  border: 1px;
  border-radius: 19px;
  background-color: #f44336; /* Red */
  color: white;
  margin: 10px;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

#radio1, #radio2, #radio3, #radio4, #radio5, #radio6, #radio7, #radio8, #radio9 {
  height:100px; 
  width:100px; 
  vertical-align: middle;
}